README.html
LAYOUT.html
FAQ.html
DESIGN.html
CONTRIBUTING.html
CONDUCT.html
*.md
*~
*.pyc
_site
.DS_Store
.Rproj.user
# Inputs and outputs of the RNAseq analysis
data/*
*.bam
*.indel
*.fastq.gz
glimma-plots/*
